@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


body{
    font-family: Poppins;
}

h4{
    font-weight: bold;
}

.list-style{
    font-weight: bold; margin: 10px 20px; color: #3B7559;
}
.nav-hello{
    background-color: blue;
    background-image: url('/Asset/img/padi2.jpg');
    height: 70px;
}

.nav-dashboard{
    background-color: chartreuse;
    height: auto;
    width: 100%;
    margin: auto;
}

.box{
    border: 2px solid #3B7559;
    border-radius: 10px;
    border-color: #3B7559;
    width: 65%;
    height: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

img{
    border: none;
    border-radius: 9px 9px 0px 0px;
}