@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


h4{font-weight: bold;}

h3{
    font-stretch: expanded;
}

li{
    list-style-type: none;
}

.list-style{
    font-weight: bold; margin: 10px 20px; color: #3B7559;
}
.nav-hello{
    background-image: url(../img/padi2.jpg);
    height: 70px;
}


.box{
    border: 2px solid #3B7559;
    border-radius: 10px;
    border-color: #3B7559;
    width: 225px;
    height: auto;
}

.img{
    border: none;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}