@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* style default */
body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  color: #5e756a;
}

/* akhir style default */

.jumbotron {
  padding-top: 2rem;
}

h1 {
  font-weight: 600;
}

.col {
  text-align: center;
}

.Team {
  background-color: #c4f5dd;
}

h6 {
  font-style: italic;
}
